<launch>
  <arg name="input_image" default="/head_camera/rgb/image_raw" />
  <arg name="input_depth_image" default="/head_camera/depth/image_rect_raw" />
  <arg name="input_camera_info" default="/head_camera/depth/camera_info" />

  <node name="paper_finder"
        pkg="jsk_perception" type="paper_finder.py"
        output="screen" >
    <remap from="~input" to="$(arg input_image)" />
    <remap from="~input/depth" to="$(arg input_depth_image)" />
    <remap from="~input/camera_info" to="$(arg input_camera_info)" />
    <rosparam>
      area_tolerance: 0.2
      approximate_sync: true
      length_tolerance: 0.2
      rect_x: 0.3
      rect_y: 0.7
      width_depth: true
    </rosparam>
  </node>

  <group ns="paper_finder" >
    <node name="republish"
          pkg="image_transport" type="republish"
          args="raw compressed">
      <remap from="in" to="output/viz" />
      <remap from="out" to="output/viz" />
    </node>
  </group>

</launch>
