<launch>
  <machine name="localhost" address="localhost" />
  <arg name="machine" default="localhost" />
  <arg name="launch_manager" default="true" />

  <arg name="manager" default="tape_attention_clipper" />
  <arg name="camera_info" default="/head_camera/depth/camera_info" />
  <arg name="input_cloud" default="/head_camera_remote/depth_registered/points" />
  <arg name="input_image" default="/head_camera_remote/depth/image_rect_raw/compressed" />

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen" />

  <!-- <!-\- launch template matching -\-> -->
  <!-- <include file="$(find jsk_perception)/template/_55f5b6bb3878_tape_stand.xml"/> -->

  <!-- attention clipper -->
  <node name="transformable_interactive_server_tape_attention_clipper"
        pkg="jsk_interactive_marker" type="transformable_server_sample">
    <rosparam subst_value="true">
      display_interactive_manipulator: true
      display_interactive_manipulator_only_selected: true
    </rosparam>
  </node>

  <node name="transformable_markers_client_tape_attention_clipper"
        pkg="jsk_interactive_marker" type="transformable_markers_client.py" output="screen">
    <remap from="~server" to="transformable_interactive_server_tape_attention_clipper" />
    <rosparam subst_value="true">
      config_file: $(find wrapping_melodic)/config/hiro/tape_attention_clipper_transformable_markers_client.yaml
      config_auto_save: true
      interactive_mode: 2  # BUTTON
    </rosparam>
  </node>

  <!-- bboxes -> bbox -->
  <node name="bboxes_to_bbox_tape_attention_clipper"
        pkg="jsk_pcl_ros_utils" type="bounding_box_array_to_bounding_box"
        output="screen" >
    <remap from="~input" to="transformable_markers_client_tape_attention_clipper/output/boxes" />
    <rosparam>
      index: 0
    </rosparam>
  </node>

  <!-- attention_clipper -->
  <node name="bbox_attention_clipper_tape_attention_clipper"
        pkg="nodelet" type="nodelet" args="load jsk_pcl/AttentionClipper $(arg manager)"
        respawn="true" >
    <remap from="~input" to="$(arg camera_info)" />
    <remap from="~input/points" to="$(arg input_cloud)" />
    <remap from="~input/box" to="bboxes_to_bbox_tape_attention_clipper/output" />
    <rosparam>
      <!-- frame_id: tape_stand -->
      use_multiple_attention: false
    </rosparam>
  </node>

  <!-- extract indices -->
  <node name="bbox_cloud_extract_tape_attention_clipper"
        pkg="nodelet" type="nodelet" args="load jsk_pcl/ExtractIndices $(arg manager)"
        output="screen" >
    <remap from="~input" to="$(arg input_cloud)" />
    <remap from="~indices" to="bbox_attention_clipper_tape_attention_clipper/output/point_indices" />
    <rosparam>
      keep_organized: true
      approximate_sync: true
      max_queue_size: 100
    </rosparam>
  </node>

  <!-- save pcd -->
  <arg name="input_cloud_pcd" value="/bbox_cloud_extract_tape_attention_clipper/output" />
  <node name="pointcloud_to_pcd_tape" type="nodelet" pkg="nodelet"
        args="load jsk_pcl_utils/PointCloudToPCD $(arg manager)" output="screen" >
    <remap from="~input" to="$(arg input_cloud_pcd)" />
    <rosparam subst_value="true">
      prefix: $(find wrapping_melodic)/save_pcd/tape/
      duration: 0.0
      binary: false
      compressed: false
    </rosparam>
  </node>

</launch>
